@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: screen;

  color-scheme: light dark; 
  color: rgba(255, 255, 255, 0.87);
   background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


a {
  font-weight: 400;
  color: #1a1a1a;
  text-decoration: inherit;
}
a:hover {
  color: #008000;
}

body {
  margin: 0;
  min-width: 370px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.search{
  background-color: #fff;
  border-color: #008000;
}

button {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #008000;
  background-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #008000;
  }
  button {
    background-color: #f9f9f9;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}

.custom-dots .swiper-pagination-bullet {
            background: #d6d3d1;
            opacity: 1;
            width: 8px;
            height: 8px;
            transition: all 0.3s;
          }
          .custom-dots .swiper-pagination-bullet-active {
            background: #15803d !important;
            width: 30px !important;
            border-radius: 4px;
          }
